<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>

    <!-- Jquery -->
    <script src="/js/util/jquery-1.12.4.min.js"></script>

    <!-- Vue.js -->
    <script src="/js/util/vue.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="/js/util/moment.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div id="work_app">

            <div v-if="expiredWorks.length > 0">
                오늘까지 \{{expiredWorks.length}} 개의 Work가 만료되었습니다!
                <div v-for="(ework, index) in expredWorks">
                    <li>\{{work.workTitle}}</li>
                    <li>\{{work.contents}}</li>
                </div>
            </div>

            <!-- work 입력 -->
            <div class="well well-lg newwork_box">
                <select v-model="newWork.priority">
                    <option value="">우선순위 설정</option>
                    <option value="FIRST">매우 중요</option>
                    <option value="SECOND">중요</option>
                    <option value="THIRD">보통</option>
                    <option value="FOURTH">중요하지 않음</option>
                </select>

                <div class="input-group">
                    <input type="text" class="form-control" v-model="newWork.workTitle">
                </div>

                <div class="input-group">
                    <textarea class="form-control" v-model="newWork.contents"></textarea>
                </div>

                데드라인 설정하기 <input type="checkbox" v-model="deadlineCheck">
                <span v-if="deadlineToggle">
                    <input type="date" class="form-control" v-model="newWork.deadline">
                </span>

                <a @click="insertWork">등록</a>
            </div>

            <!-- todo list -->
            <div class="worklist_box" v-for="(work, index) in works">
                <div class="well well-lg">
                    <li>\{{work.priority | priority}}</li>
                    <li>\{{work.workTitle}}</li>
                    <li>\{{work.contents}}</li>
                    <li v-if="work.deadline"> ~ \{{work.deadline | moment}}</li>

                    <a @click="modifyToggle(work, index)">수정</a>
                    <a @click="removeWork(work.id)">삭제</a>
                    <a @click="completeWork(work)">완료</a>
                </div>

                <!-- work 수정 -->
                <div v-if="modifyIndex == index">
                    <select v-model="modifyWork.priority">
                        <option value="">우선순위 설정</option>
                        <option value="FIRST">매우 중요</option>
                        <option value="SECOND">중요</option>
                        <option value="THIRD">보통</option>
                        <option value="FOURTH">중요하지 않음</option>
                    </select>

                    <div class="input-group">
                        <input type="text" class="form-control" v-model="modifyWork.workTitle">
                    </div>

                    <div class="input-group">
                        <textarea class="form-control" v-model="modifyWork.contents"></textarea>
                    </div>

                    <a @click="updateWork">등록</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/api/work.js"></script>
    <script type="text/javascript" src="/js/controller/layout.js"></script>
    <script type="text/javascript" src="/js/controller/workController.js"></script>
</body>
</html>