<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>

    <!-- Jquery -->
    <script src="/js/util/jquery-1.12.4.min.js"></script>

    <!-- Vue.js -->
    <script src="/js/util/vue.js"></script>

    <!-- Moment.js -->
    <script type="text/javascript" src="/js/util/moment.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/work.css">

</head>
<body>
    <div class="container">
        <div id="work_app">
            <!-- 만료된 todo list -->
            <div class="announce_card alert alert-warning alert-dismissible" role="alert" v-if="expiredWorks.length > 0">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>알림!</strong> 오늘까지 \{{expiredWorks.length}} 개의 Work가 만료되었습니다!
                <a class="btn-click" @click="viewExpiredWork">(자세히 보기)</a>
            </div>

            <div v-if="viewExpired">
                <a class="fr btn-click btn-disappear" @click="viewExpiredWork"><i class="fas fa-times"></i></a>

                <div class="todo-expired-title">
                    EXPIRED WORKS
                </div>

                <div class="expired-worklist_box" v-for="(work, index) in expiredWorks">
                    <div class="expired-worklist_card">
                        <div class="fl expired-completed">
                            <span v-if="work.completed">
                                <i class="fas fa-check fa-4x"></i>
                            </span>
                            <span v-if="!work.completed">
                                <i class="fas fa-times fa-4x"></i>
                            </span>
                        </div>
                        <div class="fr worklist_content">
                            <div class="worktitle">
                                \{{work.workTitle}}
                                <span class="deadline" v-if="work.deadline">\{{work.updated_at | moment}} ~ \{{work.deadline | moment}}</span>
                            </div>
                            <div class="priority">
                                <span class="stars" v-if="work.priority == 'FIRST'">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="stars" v-if="work.priority == 'SECOND'">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="stars" v-if="work.priority == 'THIRD'">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="stars" v-if="work.priority == 'FOURTH'">
                                    <i class="fas fa-star"></i>
                                </span>
                            </div>
                            <div class="contents">
                                \{{work.contents}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- work 입력 -->
            <div class="todo-title">
                NEW WORK
            </div>

            <div class="newwork_card">

                <div class="input-group insert">
                    <span class="input-group-addon" id="sizing-addon2">제목</span>
                    <input type="text" class="form-control" v-model="newWork.workTitle" placeholder="SummerCoding 개별과제" aria-describedby="sizing-addon2">
                </div>

                <textarea class="form-control insert" v-model="newWork.contents" rows="3" placeholder="Todo List 만들기"></textarea>

                <select class="form-control insert" v-model="newWork.priority">
                    <option value="">우선순위 설정</option>
                    <option value="FIRST">매우 중요</option>
                    <option value="SECOND">중요</option>
                    <option value="THIRD">보통</option>
                    <option value="FOURTH">중요하지 않음</option>
                </select>

                <div class="checkbox insert">
                    <label>
                        <input type="checkbox" v-model="deadlineCheck">
                        종료날짜 설정
                    </label>
                </div>
                {{!-- 데드라인 설정하기 <input type="checkbox" v-model="deadlineCheck"> <br> --}}
                
                <div v-if="deadlineToggle" class="insert">
                    <input type="date" class="form-control" v-model="newWork.deadline">
                </div>

                {{!-- <button type="button" class="btn btn-primary" @click="insertWork">등록</button> --}}
                <a class="btn-click btn-insert" @click="insertWork">등록</a>

            </div>

            <div class="todo-title">
                TODOS
            </div>

            <!-- todo list -->
            <div class="worklist_box" v-for="(work, index) in works">
                <div class="worklist_card">
                    <div class="fl completed">
                        <span v-if="work.completed">
                            <i class="far fa-check-square fa-4x"></i>
                        </span>
                        <span v-if="!work.completed">
                            <a class="btn-click make-complete" @click="completeWork(work)"><i class="far fa-square fa-4x"></i></a>
                        </span>
                    </div>
                    <div class="fr worklist_content">
                        <div class="worktitle">
                            \{{work.workTitle}}
                            <span class="deadline" v-if="work.deadline">\{{work.updated_at | moment}} ~ \{{work.deadline | moment}}</span>
                        </div>
                        <div class="priority">
                            <span class="stars" v-if="work.priority == 'FIRST'">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="stars" v-if="work.priority == 'SECOND'">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="stars" v-if="work.priority == 'THIRD'">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="stars" v-if="work.priority == 'FOURTH'">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="contents">
                            \{{work.contents}}
                        </div>
                        <div class="function">
                            <a class="btn-click" @click="modifyToggle(work, index)">수정</a>
                            <a class="btn-click" @click="removeWork(work.id)">삭제</a>
                        </div>
                    </div>
                </div>

                <!-- work 수정 -->
                <div class="modify_card" v-if="modifyIndex == index">
                    <div class="input-group modify">
                        <span class="input-group-addon" id="sizing-addon2">제목</span>
                        <input type="text" class="form-control" v-model="modifyWork.workTitle" aria-describedby="sizing-addon2">
                    </div>

                    <textarea class="form-control modify" v-model="modifyWork.contents" rows="3"></textarea>

                    <select class="form-control modify" id="modify select" v-model="modifyWork.priority">
                        <option value="">우선순위 설정</option>
                        <option value="FIRST">매우 중요</option>
                        <option value="SECOND">중요</option>
                        <option value="THIRD">보통</option>
                        <option value="FOURTH">중요하지 않음</option>
                    </select>

                    <div class="checkbox modify">
                        <label>
                            <input type="checkbox" v-model="modifyDeadlineCheck">
                            종료날짜 설정
                        </label>
                    </div>
                    
                    <div v-if="modifyDeadlineToggle" class="modify">
                        <input type="date" class="form-control" v-model="modifyWork.deadline">
                    </div>

                    {{!-- <button type="button" class="btn btn-primary" @click="updateWork">수정완료</button> --}}
                    <a class="btn-click btn-insert"></a>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/api/work.js"></script>
    <script type="text/javascript" src="/js/controller/layout.js"></script>
    <script type="text/javascript" src="/js/controller/workController.js"></script>
</body>
</html>